#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  position: relative;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  text-align: center;
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}

#footer {
  text-align: center;
  background-color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
}

p {
  color: #8f8f8f;
  font-family: 'Ubuntu';
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu';
}

.container-fluid {
  padding: 3% 15% 7%;
}

.downloadButtons {
  margin: 5% 3% 5% 0;
}

.phoneImg {
  right: 30%;
  width: 60%;
  transform: rotate(23deg);
  position: absolute;
}

.featureBox {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.testimonialImg {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonialName {
  display: inline;
  font-family: 'Ubuntu';
}

.pressLogo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.h2Price {
  margin: 1.5em auto 0 auto;
}

.priceRow {
  width: 80%;
  margin: 2% auto;
}

.card {
  margin: 5% auto;
  border: solid 3px black;
  border-radius: 2%;
}

.ctaH3 {
  padding: 20px;
  width: 80%;
  color: #fff;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 3.5rem;
}

.downloadButtons2 {
  margin: 0 0.5% 15px 0.5%;
}

.footIcon {
  padding: 1% 1.5%;
}

.i1:hover {
  color: deepskyblue;
}

.i2:hover {
  color: blue;
}

.i3:hover {
  color: gold;
}

.i4:hover {
  color: red;
}

@media (max-width: 1028px) {
  .phoneImg {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
